html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.novedades-message {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.custom-font {
  font-family: Verdana, sans-serif;
}

.img-thumbnail {
  max-width: 150px;
}

/* Footer */
.footer {
  text-align: center;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
}